@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/mellodi-roosthm');


/* CODE BY ATHENIA V. S. FOR ROLEPLAYTH */


.mfl {
  position: relative;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  background: var(--bg);
}

/* Envelope */

/* Envelope - pink */

.mfl-env-pink {
 position: absolute;
  width: 100%;
  background: url(https://i.ibb.co/vxP2xQZV/memories-of-flora-pink.png);
  aspect-ratio: 3 / 4;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

/* Enverlopr - purple*/

.mfl-env-purple {
 position: absolute;
  width: 100%;
  background: url(https://i.ibb.co/tT9h3LXq/memories-of-flora-purple.png);
  aspect-ratio: 3 / 4;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

/* Enverlopr - blue*/

.mfl-env-blue {
 position: absolute;
  width: 100%;
  background: url(https://i.ibb.co/gL3t0wTr/memories-of-flora-blue.png);
  aspect-ratio: 3 / 4;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

/* Enverlopr - red */

.mfl-env-red {
 position: absolute;
  width: 100%;
  background: url(https://i.ibb.co/ZzNZwt2v/memories-of-flora-red.png);
  aspect-ratio: 3 / 4;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

/* Enverlopr - orange */

.mfl-env-orange {
 position: absolute;
  width: 100%;
  background: url(https://i.ibb.co/YFJGg1Zh/memories-of-flora-orange.png);
  aspect-ratio: 3 / 4;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

/* Enverlopr - green */

.mfl-env-green {
 position: absolute;
  width: 100%;
  background: url(https://i.ibb.co/1tC3FGrm/memories-of-flora-green.png);
  aspect-ratio: 3 / 4;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

/* Enverlopr - yellow */

.mfl-env-yellow {
 position: absolute;
  width: 100%;
  background: url(https://i.ibb.co/7dT52Rfk/memories-of-flora-yellow.png);
  aspect-ratio: 3 / 4;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

/* Enverlopr - black */

.mfl-env-black {
 position: absolute;
  width: 100%;
  background: url(https://i.ibb.co/RGX0vg8g/memories-of-flora-black.png);
  aspect-ratio: 3 / 4;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

/* Enverlopr - white */

.mfl-env-white {
 position: absolute;
  width: 100%;
  background: url(https://i.ibb.co/KcxPf8b0/memories-of-flora-white.png);
  aspect-ratio: 3 / 4;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}



/* photo in Polaroid */

.mfl-pt {
position: absolute;
  bottom: 13.5%;
  left: 3.5%;
  width: 28%;
  height: 35%;
  box-sizing: border-box;
  background: var(--mflpt) center/cover;
  transform: rotate(-10deg);
  z-index: 1;
}



/* 1 - 2 decorations - Can be customized */

/* decorations 1 */

.mfl-dc01 {
  position: absolute;
  top: 20%;
  left: 88.2%; 
  width: 13%;
  height: 15%;
  background: var(--dc01) center/cover;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate (-8deg);
  z-index: 4;
}

/* decorations 2 */

.mfl-dc02 {
  position: absolute;
  top: 80.3%;
  left: 31%; 
  width: 13%;
  height: 15%;
  background: var(--dc02) center/cover;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-8deg);
  z-index: 5;
}


/* Letter txt */
.mfl-txt {
  position: absolute;
  top: 32%;
  left: 30.5%;
  width: 65%;
  height: 50%;
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.6rem, 1vw, 1.1rem);
  text-align: justify;
  color: #101010;
  line-height: 1.2;
  margin: 5px 0px;
  padding: 20px 10px 20px 20px;
  box-sizing: border-box;
  transform: rotate(-2deg);
  z-index: 3;
  overflow-y: scroll;
}
  
.mfl-txt::-webkit-scrollbar {
  width: 0.5vw;
  margin-left: 0.8vw;
}   
.mfl-txt::-webkit-scrollbar-track {
    background: transparent;
}   
.mfl-txt::-webkit-scrollbar-thumb {
    background-color: var(--srb-color);
    border-radius: 1000px;
}


/* Name or short message on the Polaroid txt */


.mfl-lbl {
  position: absolute;
  top: 86.6%;
  left: 4.5%;
  width: 29%;
  font-family: 'Mellodi Roosthm', sans-serif;  
  font-style: normal;
  font-weight: 400;
  font-size: 2.9vw;
  color: #101010;
  text-align: center;
  line-height: 0.5;
  margin: 5px 0px;
  padding: 10px 5px 20px 5px;
  box-sizing: border-box;
  transform: rotate(-9.1deg);
  z-index: 6;
}


/* shot note txt */
.mfl-ntxt {
  position: absolute;
  top: 86%;
  left: 57.5%;
  width: 36%;
  height: 6%;
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  color: #101010;
  text-align: center;
  line-height: 1;
  margin: 5px 0px;
  padding: 10px 5px 10px 5px;
  box-sizing: border-box;
  transform: rotate(-0.4deg);
  z-index: 7;
  overflow-y: scroll;
}

.mfl-ntxt::-webkit-scrollbar {
  width: 0.5vw;
 margin-left: 0.8vw;
}

.mfl-ntxt::-webkit-scrollbar-track {
  background: transparent;
}   

.mfl-ntxt::-webkit-scrollbar-thumb {
  background-color: var(--srb-color);
  border-radius: 1000px;
}


/* CODE BY ATHENIA V. S. FOR ROLEPLAYTH */

/ * This is my first time writing this code, so there may be some errors. I apologize for any mistakes * /
