@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/texturina');
@import url('https://fonts.cdnfonts.com/css/classthy-theriond');

/* CODE BY ATHENIA V. S. FOR ROLEPLAYTH */

:root {
  /* font */
  --mf: "Bai Jamjuree", sans-serif;   
  --sf01: 'Classthy Theriond', sans-serif;
  --sf02: 'Texturina', sans-serif; 
  
  /* background */
  --bg01: ;  
  --bg02: ;
  --bg-sd: ;  
  
  /* color */
  --mc: #000000; 
  --sc01: #fc8eac; 
  --sc02: #6d6664; 
  --sd-cl: #ffffff;
  
  /* photo */
  --PT01: ;
  --PT02: ;
  --PT03; ;
  
  /* deco */
  --DC01: ;
  --DC02: ;
  --DC03: ;
  
  /* title */
  --translate-x: -50%;
  --translate-y: -50%;
}



.pastel-season {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  background: transparent;
  pointer-events: auto;

}

.ps {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  position: relative;
  justify-content: flex-start; 
  align-items: center;
  display: flex;
  flex-direction: column; 
  margin: 0 auto;
  padding: 20px;
  background: var(--bg01);
  box-sizing: border-box;
}

.ps::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-sd);
  opacity: 1.7; 
  z-index: 10; 
}

/* top header */
.ps-th {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
  z-index: 99;
}

.ps-thl {
  font-family: var(--sf02);
  font-size:  clamp(0.6rem, 1vw, 1.1rem);
  text-align: left;
  color: var(--sc02);
  margin: 0 50px; 
}

.ps-thl:hover {
  color: var(--sc02); 
  transform: scale(1.1); 
  transition: all 0.3s ease;
}

.ps-thc {
  font-family: var(--sf02);
  font-size: clamp(0.6rem, 1vw, 1.1rem);
  font-weight: 700;
  text-align: center;
  color: var(--sc02);
  margin: 0 50px; 
  border-bottom: 2px solid var(--sc01);
}

.ps-thc:hover {
  color: var(--sc02); 
  transform: scale(1.1); 
  transition: all 0.3s ease;
}

.ps-thr {
  font-family: var(--sf02);
  font-size: clamp(0.6rem, 1vw, 1.1rem);
  text-align: right;
  color: var(--sc02);
  margin: 0 50px; 
}

.ps-thr:hover {
  color: var(--sc02); 
  transform: scale(1.1); 
  transition: all 0.3s ease;
}

/*  main frame & layout */
.ps-mfl {
  position: relative;
  width: 100%;
  max-width: 90%;
  aspect-ratio: 5 / 3;
  background: var(--bg02);
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  z-index: 1;
}

.ps-env {
  width: 90%;
  height: 90%;
  background: url(https://i.ibb.co/x8FpSNjb/pes-env.png) center/cover;
  background-repeat: no-repeat;
  z-index: 5;
}

.ps-PT01 {
position: absolute;
  top: 12%;
  left: 15%;
  width: 25%;
  height: 40%;
  box-sizing: border-box;
  background: var(--PT01) center/cover;
  transform: rotate(7deg);
  z-index: 2;
}

.ps-PT02 {
position: absolute;
  top: 37%;
  left: 33.2%;
  width: 25%;
  height: 40%;
  box-sizing: border-box;
  background: var(--PT02) center/cover;
  transform: rotate(-13deg);
  z-index: 3;
}

.ps-PT03 {
position: absolute;
  top: 12%;
  left: 60%;
  width: 25%;
  height: 40%;
  box-sizing: border-box;
  background: var(--PT03) center/cover;
  transform: rotate(7deg);
  z-index: 4;
}

.ps-DC01 {
  position: absolute;
  top: 10%;
  left: 41%; 
  width: 20%;
  height: 20%;
  background: var(--DC01) center/cover;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-8deg);
  z-index: 6;
}

.ps-DC02 {
  position: absolute;
  bottom: 15%;
  left: 16%; 
  width: 20%;
  height: 20%;
  background: var(--DC02) center/cover;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-10deg);
  z-index: 7;
}

.ps-DC03 {
  position: absolute;
  bottom: 15%;
  left: 60%; 
  width: 20%;
  height: 20%;
  background: var(--DC03) center/cover;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(10deg);
  z-index: 8;
}

/* Name bar */
.ps-nb {
  position: relative;
  width: 90%; 
  max-width: 80%; 
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
}

.ps-n {
  position: static;
  top: auto;
  left: auto;
  transform: none;
  z-index: auto;
  width: 100%;
  padding: 0;
  text-align: center;
}

.ps-n-fn {
  font-family: var(--sf02);
  font-size: clamp(3.5rem, 4vw, 4.8rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--sc01);
  margin: 0;
  line-height: 1; 
  text-shadow: -2px 1px 9px var(--sd-cl);
}

.ps-n-ln {
  font-family: var(--sf01);
  font-size:  clamp(3rem, 3.5vw, 4rem);
  font-weight: 700;
  color: var(--sc02);
  margin-top: -2.8vw; 
  transform: translate(15%, 0);
  line-height: 1;
}

/* text */
.ps-text {
  position: relative;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
  font-family: var(--mf);
  font-size: clamp(0.6rem, 1vw, 1.1rem);
  line-height: 1.7;
  color: var(--mc);
  text-align: justify;
  margin-top: -25px; 
  z-index: 98;
}

/* note */
.ps-note {
  width: 90%;
  max-width: 100%;
  height: auto;
  margin: -35px auto 20px auto;
  padding: 10px;
  box-sizing: border-box;
  font-family: var(--mf);
  font-size: clamp(0.6rem, 1vw, 1.1rem);
  font-weight: 700;
  line-height: 1.5;
  color: var(--mc);
  text-align: right;
  z-index: 99;
}

/* bottom topic */
.ps-b {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  margin: 5px 10px 5px 10px;
  z-index: 99;
}

.ps-bl {
  font-family: var(--sf02);
  font-size:  clamp(0.6rem, 1vw, 1.1rem);
  font-weight: 700;
  text-align: left;
  color: var(--sc02);
  margin: 0 50px;
}

.ps-bl:hover {
  color: var(--sc02); 
  transform: scale(1.1); 
  transition: all 0.3s ease;
}

.ps-br {
  font-family: var(--sf02);
  font-size:  clamp(0.6rem, 1vw, 1.1rem);
  font-weight: 700;
  text-align: right;
  color: var(--sc02);
  margin: 0 50px;
}

.ps-br:hover {
  color: var(--sc02); 
  transform: scale(1.1); 
  transition: all 0.3s ease;
}

/* CODE BY ATHENIA V. S. FOR ROLEPLAYTH */
