@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/texturina');
@import url('https://fonts.cdnfonts.com/css/classthy-theriond');

/* CODE BY ATHENIA V. S. FOR ROLEPLAYTH */

:root {
  /* font */
  --mf: "Bai Jamjuree", sans-serif;   
  --sf01: 'Classthy Theriond', sans-serif;
  --sf02: 'Texturina', sans-serif; 
  
  /* background */
  --bg01: ;  
  --bg02: ;
  --bg-sd: ;  
  
  /* color */
  --mc: #000000; 
  --sc01: #fc8eac; 
  --sc02: #6d6664; 
  --sd-cl: #ffffff;
  
  /* photo */
  --PT01: ;
  --PT02: ;
  --PT03; ;
  
  /* deco */
  --DC01: ;
  --DC02: ;
  --DC03: ;
  
  /* title */
  --translate-x: -50%;
  --translate-y: -50%;
}



.pastel-season {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  background: transparent;
  pointer-events: auto;

}

.ps {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  position: relative;
  justify-content: flex-start; 
  align-items: center;
  display: flex;
  flex-direction: column; 
  margin: 0 auto;
  padding: 20px;
  background: var(--bg01);
  box-sizing: border-box;
}

.ps::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-sd);
  opacity: 1.7; 
  z-index: 10; 
}

/* top header */
.ps-th {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
  z-index: 99;
}

.ps-thl {
  font-family: var(--sf02);
  font-size:  clamp(0.6rem, 1vw, 1.1rem);
  text-align: left;
  color: var(--sc02);
  margin: 0 50px; 
}

.ps-thl:hover {
  color: var(--sc02); 
  transform: scale(1.1); 
  transition: all 0.3s ease;
}

.ps-thc {
  font-family: var(--sf02);
  font-size:  clamp(0.6rem, 1vw, 1.1rem);
  font-weight: 700;
  text-align: center;
  color: var(--sc02);
  margin: 0 50px; 
  border-bottom: 2px solid var(--sc01);
}

.ps-thc:hover {
  color: var(--sc02); 
  transform: scale(1.1); 
  transition: all 0.3s ease;
}

.ps-thr {
  font-family: var(--sf02);
  font-size: clamp(0.6rem, 1vw, 1.1rem);
  text-align: right;
  color: var(--sc02);
  margin: 0 50px; 
}

.ps-thr:hover {
  color: var(--sc02); 
  transform: scale(1.1); 
  transition: all 0.3s ease;
}

/*  main frame & layout */
.ps-mfl {
  position: relative;
  width: 100%;
  max-width: 90%;
  aspect-ratio: 5 / 3;
  background: var(--bg02);
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  z-index: 1;
}

.ps-env {
  width: 90%;
  height: 90%;
  background: url(https://i.ibb.co/x8FpSNjb/pes-env.png) center/cover;
  background-repeat: no-repeat;
  z-index: 5;
}

.ps-PT01 {
position: absolute;
  top: 12%;
  left: 15%;
  width: 25%;
  height: 40%;
  box-sizing: border-box;
  background: var(--PT01) center/cover;
  transform: rotate(7deg);
  z-index: 2;
}

.ps-PT02 {
position: absolute;
  top: 37%;
  left: 33.2%;
  width: 25%;
  height: 40%;
  box-sizing: border-box;
  background: var(--PT02) center/cover;
  transform: rotate(-13deg);
  z-index: 2;
}
